@model GerenciamentoDeAlunos.Models.Aluno

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar novo Aluno</h1>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" id="cpfInput" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCurso" class="control-label"></label>
                <input asp-for="NomeCurso" class="form-control" />
                <span asp-validation-for="NomeCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusao" class="control-label"></label>
                <input asp-for="DataConclusao" class="form-control" />
                <span asp-validation-for="DataConclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="EstadoId" class="form-control" id="EstadoId">
                    <option value="">Selecione o estado</option>
                    @foreach (var estado in ViewBag.Estados)
                    {
                        <option value="@estado.EstadoId">@estado.Nome</option>
                    }
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <select asp-for="CidadeId" class="form-control" id="CidadeId" disabled>
                    <option value="">Selecione a cidade</option>
                    @* @foreach (var cidade in ViewBag.Cidades)
                    {
                        <option value="@cidade.CidadeId">@cidade.Nome</option>
                    } *@
                </select>
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoEnsino" class="control-label"></label>
                <select asp-for="InstituicaoEnsinoId" class="form-control">
                    <option value="">Selecione a instituição</option>
                    @foreach (var instituicao in ViewBag.InstituicoesEnsino)
                    {
                        <option value="@instituicao.InstituicaoEnsinoId">@instituicao.Nome</option>
                    }
                </select>
                <span asp-validation-for="InstituicaoEnsino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
